* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

.container {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 450px;
    max-width: 100%;
    margin: 100px auto 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

h3 {
    text-transform: uppercase;
    text-align: left;
    margin-top: 10px;
    border-bottom: 2px solid teal;
    padding-bottom: 5px;
}

p {
    margin: 20px 0 5px;
}

#texto-area {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    background-color: teal;
    color: #fff;
    padding: 8px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #00796b;
    opacity: 0.9;
}
